.header {
    background-color: #58585A;
    text-align: center;
    color: white;
    background-repeat: repeat;
    padding: 10px 10px;
    height: 250px;
  }

.header > h3 {
  position: fixed;
  margin: 0px;
  padding-top: 10px;
  top: 0px;
  text-align: center;
  width: 100%;
  background-color: #58585A;
}

.currentScore {
  margin-left: 50px;
}

.topScore {
  float: right;
  margin-right: 50px;
}

.header > div {
  position: relative;
  top: 40px;
}