.container {
    display: flex;
    width: 80%;
    min-height: 80%;
    padding-top: 50px;
    justify-content: center;
    padding-bottom: 50px;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-left: 120px;
  }