.click-item {
    background-size: cover;
    background-position: center;
    border: 5px solid black;
    height: 150px;
    margin: 8px 25px; 
    width: 150px;
    box-shadow: 0 3px 6px black, 0 3px 6px black;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .click-item:hover {
    transform: scale(1.05);
    border: 5px solid blue;
    transition: 0.1s;
  }