.navbar {
  height: 100%;
  width: 120px;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #EF4036;
  overflow-x: hidden;
  padding-top: 20px;
  text-align: center;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    display: inline-block;
    padding: 0px;
    width: 33.3%;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: 20px;
  }
  