.footer {
    background: 
    #EF4036;
    height: 50px;
    position: relative;
    color: white;
    overflow: auto;
  }
  
  .footer > .bottom {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    background:#EF4036;
    padding: 8px;
    font-weight: 600;
  }
  